body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background:url("../img/simple_dashed_@2X.png");
}
html, body, .container {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
}
ol, ul { list-style: none; }
a { text-decoration: none !important; }
h1 {
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
}
form { margin: 0; padding: 0; }
.hidden {
  display: none;
}

/* 
 * Custom Bootstrap CSS
 */
.alert { 
  font-size: 11px;
  padding: 0.5em !important;
  margin: 0;
}
.btn-group + .btn-group { margin: none; }

.col-md-12, .col-md-10, .col-md-9, .col-md-8, 
.col-md-7, .col-md-3, .col-md-2 { padding: 0; }

.tab-content > .active {
    padding-bottom: 2em;
}

/*
 * INITIAL SEARCH
 */
#initial {
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 2em solid #f1c40f;
  padding: 1em;
  z-index: 10;
}
#initial h1 {
  margin-bottom: 0.5em;
}
#initial h2 {
  font-weight:normal;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.1em;
}
#initial label {
  font-size: 1.2em;
  padding-top: 0.3em;
}
#initial .searchbtn, .searchBox {
  height: 2.0em !important;
  line-height: 1.5em !important;
}
#help {
  cursor: pointer;
  float: right;
  margin: 1em 0 0 0;
  z-index: 5;
}
#help-info {
  background-color: white;
  color: black;
  padding: 1.5em 1em;
  display: none;
  float: left;
}
#infobox {
  display: none;
  z-index: 100 !important;
  background-color: #FFF;
  position: absolute;
  float: left;
  padding: 1em;
  border-radius: 0.5em;
  margin: 13em 0.5em 0px;
}
@media (max-width: 700px) { 
  #infobox {
    display: block;
    position: relative;
    width:33%;
    min-height: 100px;
  }
}
#infobox span {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
}

/* 
 * CYTOSCAPE CONTAINER
 */
#results {
  position: relative;
  height:100%;
  z-index: 0;
}

/*
 * MAIN SEARCH GUI
 */
#interface {
  position: relative;
  top: 0;
  left: 0;
  visibility: hidden; 
  border-bottom: 1px solid #f1c40f;
  background-color: white;
}
#interface h3, #interface h4 {
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.5em;
  display: inline-block;
}
#interface h3 {
  border-bottom: 1px solid #f1c40f;
  margin-bottom: 0.5em;
  margin: 5px 1em 0 0;
}
#minimize {
  visibility: hidden;
  padding: 2px;
  text-align: center;
  font-size: 16px;
  background-color: #f1c40f;
  margin: 0;
  text-transform: lowercase;
}
#minimize:hover {
  cursor: pointer;
  color: white;
}
#minimize span {
  font-size: 14px;
  font-weight: lighter;
}
.maximize {
  padding: 2px 0 !important;
}
#search {
  padding: 1em;
}
#search h1 {
  font-size: 1.5em;
  line-height: 1em;
}
.nav {
  margin-bottom: 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 0.5em 0;
}
.nav-stacked {
  padding: 0.5em;
}
.nav-stacked li a {
  width: 50% !important;
  float: left !important;
}
.nav-pills > li > a {
    padding: 0.5em 1em !important;
    margin: 0 !important; 
    border-radius: 0px;
}
.nav-pills.nav-stacked > li > a {
    margin-bottom: 0px;
}
.tabs {
  padding-bottom: 1em;
}
.tab-content {
  padding: 0 1em;
  border-left: 1px solid #f1c40f;
}
.tab-pane {
  padding: 1em 0;
}

/* 
 * EXPLORE
 */
#explore {
  visibility: hidden; 
}
#explore label, #explore input, #explore li {
  font-size: 12px;
}
#explore label, #nodeinfo label {
  line-height: 2em;
}
#explore input[type=text], #numQuery input[type=text] {
  width: 50px;
  height: 2em;
}
#numQuery {
  margin-top: 0.5em;
}
#explore .btn-wrap, #nodeinfo .btn-wrap {
  margin-top: 0.2em;
}
#explore .space {
  margin-top: 1.5em;
}
#explore .tab-pane, #nodeinfo .tab-pane {
  margin: 0 !important;
}
#explore h4, #nodeinfo h4 {
  margin: 0;
}
#panning, #multiselect, #bgdark, #bglight {
  font-size: 10px;
  line-height: 1.5em !important;
}
#zoombtns {
  margin-top: 1.3em !important;
  margin-left: 0.5em;
  margin-bottom: 1em !important;
}
#detailsbtnwrap {
  margin-top: 0 !important;
}
#accordion {
  margin: 0.5em 0 2em 0;
}
.panel-heading {
  padding: 0.5em 1em;
  background-color: #f1c40f !important;
}
.panel-group {
  margin: 0;
}
.ui-dialog-title {
  font-weight: normal;
}
.chkbx {
  min-width: 90px;
  display: inline-block;
  margin-right: 1em;
}
.custom h3 {
  font-size: 0.8em;
  display: block !important;
}
.custom p {
  margin-top: 1em;
}
#customquery, #customquery label {
  font-size: 12px !important;
}
#customquery label {
  position: relative;
  top: 4px;
}
#submitCustom {
  margin: 0.5em;
  float: right;
}


/* 
 * NODE/EDGE DETAILS
 */
#edgeask, #edgeoverview, #nodeask {
  font-size: 12px;
}
#edgetable, #nodetable {
  font-size: 10px;
}

/* Edge details */
#dbref {
  margin: 0; 
}
#dbref li {
  list-style: circle;
  margin-left: 2em;
}
#edgeoverview {
  margin-top: 10px;
  padding:0 10px 1em 0;
}

/* Node details */
#nodeoverview {
  padding: 0px 0px 1em 0px;
}
#nodeinfo .space {
  margin-top: 1em;
}

/* 
 * OPTIONS 
 */
.form-horizontal .form-group {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
#layouttime input {
  line-height: 1.5em;
  height: 2em;
  width: 20%;
  min-width: 1em;
  max-width: 4em;
}
#layouttime .form-group {
  margin-bottom: 0;
}
#layouttime {
  margin-top: 1em;
}
#layouttime label {
  float: left;
  width: 80%;
}
#layout {
  margin: 0.5em 0;
}
#layout h3, #layout span {
  position: relative;
}
#layout h3 {
  top: 2px;
  margin-right: 50%;
}
#layout .form-group {
  width: 49%;
  margin: 0;
  display: inline-block;
}
#layout .space {
  margin-top: 0.5em;
}
#layout input {
  line-height: 1.5em;
  margin-top: 0px;
}
#layout span {
  padding: 0 10px 0 0;
  font-size: 12px;
}
#numLayout, #colorbg, #layout-btn {
  float: right;
}
#layout-btn {
  margin-bottom: 1em;
}

/* 
 * HELP AND ABOUT
 */
#faq h3, #about h3 {
  margin-bottom: 0.5em !important;
}
#faq li, #about p {
  font-size: 12px;
}
#faq h3, #about h3 {
  font-size: 14px;
}
#faq li {
  list-style: square;
}
.aboutsm {
  font-size: 10px;
  float:right;
}

/*
 * LEGEND
 */
#legend ul {
  margin: 0;
}
#legend li {
  display: inline-block;
  width: 48%;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #DDD;
  margin-bottom: 0.25em;
}
#legend li:nth-child(2n) {
  padding-left: 1%;
  border-left: 1px solid #DDD;
}
#legend h3 {
  width: 70px;
  display: block !important;
}
#legend .space {
  margin-top: 1.5em;
}
.edges-legend {
  padding: 7px 0px 0px;
  margin-top: 0.5em !important;
}
.edges-legend h3 {
  position: relative;
  top: -20px !important;
}
.edges-legend p {
  margin: 0;
}
.line, .square {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
.activator {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 24px solid #FED700;
}
.inhibitor { color: #BF1578; }
.protein, .disease { 
  height: 22px; 
  width: 22px;
}
.protein { background-color: #EA6D00; }
.disease {
  background-color: #112B49;
  border-radius: 5px;
}
.other, .drug {
  height: 25px;
  width: 25px;
  border-radius: 50px;
}
.other {
  background-color: #FF7F50;
}
.drug {
  background-color: #16a085;
}
.line {
  width: 75px;
  position: relative;
  top: -1px;
}
.longer {
  width: 80px;
  margin-right: 15px;
}
#type1 {
  border-bottom: #FED700 solid 5px;
} #type2 {
  border-bottom: #BF1578 solid 5px;
} #type3 {
  border-bottom: #6FCCDD solid 5px;
} #type4 {
  border-bottom: #7851A1 solid 5px;
} #type5 {
  border-bottom: #A0A0A0 solid 5px;
} #type6 {
  border-bottom: #A7CE38 solid 5px;
}
#type1s, #type2s, #type3s, #type4s, #type5s {
  position: relative;
  display: inline-block;
}
#type1s {
  width: 0px;
  height: 0px;
  border-left: 10px solid #FED700;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  left: -15px;
  top: 3px;
}
#type2s {
  height: 15px;
  width: 6px;
  background-color: #BF1578;
  left: -15px;
  top: 3px;
  margin-right: 5px;
}
#type3s, #type4s, #type5s {
  width: 10px;
  height: 10px;
}
#type3s {
  border-radius: 10px;
  left: -15px;
  top: 2px;
  background: #6FCCDD;
}
#type4s { 
  background: #7851A1;
  margin: 3px 10px 0 -11px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  top: 4px;
}
#type5s {
  background: #A0A0A0;
  top: 1px;
  left: -16px;
}

/* Screens */
.fixed {
  width: 400px !important;
}
.rest {}