<html data-ng-app="redrugsApp" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html"/>
    <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'/>

<head>
  <title>Repurposing Drugs with Semantics</title>
</head>

<body data-ng-controller="ReDrugSCtrl">
  <!-- 
   The initial "start" section with centered search box
  --> 
  <div id="infobox" class="col-sm-3 col-md-3 hidden-xs"></div>
  <div id="initial" class="container-fluid col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <h1>Repurposing Drugs with Semantics</h1>
    <form class="form-horizontal" role="form" data-ng-submit="search(searchTerms)">
      <label for="startSearch">Search for Biological Entity:</label>
      <input id="startSearch" class="searchBox col-sm-9" data-ng-model="searchTerms" type="text" placeholder="Drug, gene, or disease. ex. Topiramate" autofocus="autofocus" />
      <button type="submit" class="btn btn-default col-sm-3 searchbtn">Search</button>
      <div class="searchtype">
        <span>Type: </span>
        <input type="radio" name="searchtype" value="drug" id="isdrug"/><label for="isdrug">Drug</label>
        <input type="radio" name="searchtype" value="disease" id="isdisease"/><label for="isdisease">Disease</label>
        <input type="radio" name="searchtype" value="protein" id="isprotein"/><label for="isprotein">Protein</label>
      </div>
    </form>
    <p id="help"><i class="fa fa-question-circle fa-lg"></i> Help</p> 
    <div id="help-info" class="col-sm-12">
      <p>This web application is intended to help discover new possible purposes for existing FDA approved drugs by expanding and exploring the interactions between drugs, genes/proteins, and diseases.</p>
      <p>To search, try typing either a specific drug, disease, or gene such Topiramate, selecting it from the dropdown menu, and then clicking on search. </p>
      <p>Please contact us if you have any questions or issues at something@rpi.edu</p>
    </div>
  </div>


  <!--
    GUI
  -->
  <div id="interface-wrapper" class="col-md-3">
    <p id="minimize" class="col-md-12">
      <i class="fa fa-caret-up"></i> <span>Hide sidebar</span>
    </p>
    <div id="interface" class="col-md-12">
      <!--
        Top left search section
      -->
      <div id="search" class="col-md-12">
        <h1>Repurposing Drugs with Semantics</h1>
        <form class="form-inline" role="form" data-ng-submit="search(searchTerms)">
          <input id="searchAgain" class="searchBox col-md-12" data-ng-model="searchTerms" type="text" placeholder="Drug, gene, or disease" autofocus="autofocus" />
          <button type="submit" class="btn btn-default col-md-6 searchbtn">
            <i class="fa fa-circle-o-notch fa-spin" data-ng-show="loading"></i> Add
          </button>
          <button class="btn btn-default col-md-6 search-btn searchbtn">
            <i class="fa fa-circle-o-notch fa-spin" data-ng-show="loading"></i> Search
          </button>
          <div class="searchtype">
            <span>Type: </span>
            <input type="radio" name="searchtype" value="drug" id="isdrug"/><label for="isdrug">Drug</label>
            <input type="radio" name="searchtype" value="disease" id="isdisease"/><label for="isdisease">Disease</label>
            <input type="radio" name="searchtype" value="protein" id="isprotein"/><label for="isprotein">Protein</label>
          </div>
          <div class="alert alert-success col-md-12" data-ng-show="!loading &amp;&amp; loaded != null">Found {{loaded}} connections.</div>
          <div class="alert alert-danger col-md-12" data-ng-show="!loading &amp;&amp; error">Server Error. Sorry about that, please try again later.</div>
        </form>
      </div>
      <!--
        Tabs (using Bootstrap)
      -->
      <div id="tabs" class="col-md-12" role="tabpanel">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          <li role="presentation" class="active"><a href="#explore" aria-controls="explore" role="tab" data-toggle="tab">Explore</a></li>
          <li role="presentation"><a href="#legend" aria-controls="legend" role="tab" data-toggle="tab">Legend</a></li>
          <li role="presentation"><a href="#nodeinfo" aria-controls="edgeinfo" role="tab" data-toggle="tab">Node Details</a></li>
          <li role="presentation"><a href="#edgeinfo" aria-controls="edgeinfo" role="tab" data-toggle="tab">Edge Details</a></li>
          <li role="presentation"><a href="#options" aria-controls="options" role="tab" data-toggle="tab">Options</a></li>
          <li role="presentation"><a href="#faq" aria-controls="faq" role="tab" data-toggle="tab">Help</a></li>
          <li role="presentation"><a href="#about" aria-controls="faq" role="tab" data-toggle="tab">About</a></li>
        </ul>

        <div class="tab-content col-md-12">
          <!--
            EXPLORE CONNECTIONS
          -->
          <div role="tabpanel" class="tab-pane active" id="explore">
            <div class="btn-toolbar">
              <div class="btn-group">
                <a id="lock" title="Lock Position" data-ng-click="lock(getSelected('id'), true)" class="btn btn-small"><i class="fa fa-lock"></i></a>
                <a id="unlock" title="Unlock Position" data-ng-click="lock(getSelected('id'), false)" class="btn btn-small"><i class="fa fa-unlock"></i></a>
                  <a type="button" id="refresh" title="Refresh Layout" class="btn btn-small">
                    <i class="fa fa-refresh"></i>
                  </a>
                  <a id="bfs" title="Highlight Connections" data-ng-click="showBFS(getSelected('id'))" type="button" class="btn btn-small">
                    <i class="icon-eye-open"></i> 
                  </a>
              </div>
              <div class="btn-group">
                  <a id="zoom-in" title="Zoom In" class="btn btn-small"><i class="fa fa-search-plus"></i> </a>
                  <a id="zoom-fit" title="Zoom Out" class="btn btn-small"><i class="fa fa-search"></i></a>
                  <a id="zoom-out" title="Zoom To Fit" class="btn btn-small"><i class="fa fa-search-minus"></i></a>
              </div>
              <div class="btn-group">
                  <a type="button" title="Find Incoming Links" data-ng-click="runQuery('custom',['upstream'])" class="btn btn-small">
                    <i class="fa fa-backward"></i>
                  </a>
                  <a type="button" title="Find Incoming and Outgoing Links" data-ng-click="runQuery('custom',['upstream','downstream'])" class="btn btn-small">
                    <i class="fa fa-backward"></i> <i class="fa fa-forward"></i> 
                  </a>
                  <a title="Find Outgoing Links" data-ng-click="runQuery('custom',['downstream'])" type="button" class="btn btn-small">
                   <i class="fa fa-forward"></i> 
                  </a>
              </div>
            </div>
              <div class="panel-group" id="accordion" role="tablist">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="customqueryhdg">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" href="#customquery" aria-expanded="false" aria-controls="customquery">
                        <h4><i class="fa fa-cog"></i> Search Options</h4>
                      </a>
                    </h4>
                  </div>
                  <div id="customquery" class="panel-collapse collapse" role="tabpanel" aria-labelledby="customqueryhdg">
                    <div class="panel-body">
                      <form class="form-inline custom">
                        <h3>Traversal</h3>
                        <div class="form-group">
                          <label for="numSearch">Link distance: </label>
                          <input type="text" id="numSearch" name="numSearch" data-ng-model="numSearch" value="1" />
                        </div>
                        <div class="form-group">
                          <label for="probThreshold">Minimum joint probability: </label>
                          <input type="text" id="probThreshold" name="probThreshold" data-ng-model="probThreshold" value="0.95" />
                        </div>
                        <div class="form-group" id="customNode">
                          <h3>Node types: </h3>
                          <div class="chkbx">
                            <input type="checkbox" id="activator" name="activator" data-ng-model="filter['customNode']['activator']"/>
                            <label for="activator">Activator</label>
                          </div>
                          <div class="chkbx">
                            <input type="checkbox" id="inhibitor" name="inhibitor" data-ng-model="filter['customNode']['inhibitor']"/>
                            <label for="inhibitor">Inhibitor</label>
                          </div>
                          <div class="chkbx">
                            <input type="checkbox" id="protein" name="protein" data-ng-model="filter['customNode']['protein']"/>
                            <label for="protein">Protein</label>
                          </div>
                          <div class="chkbx">
                            <input type="checkbox" id="disease" name="disease" data-ng-model="filter['customNode']['disease']"/>
                            <label for="disease">Disease</label>
                          </div>
                          <div class="chkbx">
                            <input type="checkbox" id="drug" name="drug" data-ng-model="filter['customNode']['drug']"/>
                            <label for="drug">Drug</label>
                          </div>
                          <div class="chkbx">
                            <input type="checkbox" id="undef" name="undef" data-ng-model="filter['customNode']['undef']"/>
                            <label for="undef">Undefined</label>
                          </div>
                        </div>
                        <div class="form-group" id="customEdge">
                          <h3>Edge types: </h3>
                          <div class="chkbx">
                            <input type="checkbox" id="activation" name="activation" data-ng-model="filter['customEdge']['activation']"/>
                            <label for="activation">Activation</label>
                          </div>
                          <div class="chkbx">
                            <input type="checkbox" id="inhibition" name="inhibition" data-ng-model="filter['customEdge']['inhibition']"/>
                            <label for="inhibitor">Inhibitor</label>
                          </div>
                          <div class="chkbx">
                            <input type="checkbox" id="association" name="association" data-ng-model="filter['customEdge']['association']"/>
                            <label for="association">Physical Association, aggregation, and colocalization</label>
                          </div>
                          <div class="chkbx">
                            <input type="checkbox" id="reaction" name="reaction" data-ng-model="filter['customEdge']['reaction']"/>
                            <label for="reaction">Phosphorylation Reaction</label>
                          </div>
                          <div class="chkbx">
                            <input type="checkbox" id="cleavage" name="cleavage" data-ng-model="filter['customEdge']['cleavage']"/>
                            <label for="cleavage">Protein Cleavage and cleavage reaction</label>
                          </div>
                          <div class="chkbx">
                            <input type="checkbox" id="interaction" name="interaction" data-ng-model="filter['customEdge']['interaction']"/>
                            <label for="interaction">Interaction</label>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!--
            LEGEND
          -->
          <div role="tabpanel" class="tab-pane" id="legend">
            <h3>Nodes:</h3>
            <ul class="nodes-legend">
              <li><div class="protein square"></div><span>Protein</span></li>
              <li><div class="disease square"></div><span>Disease</span></li>
              <li><div class="drug square"></div><span>Drug</span></li>
              <li><div class="other square"></div><span>Undefined</span></li>
            </ul>
            <h3 class="space">Edges</h3>
            <ul class="edges-legend">
              <li>
                <p><a href="#">Activation</a></p>
                <div id="type1" class="line"></div><div id="type1s"></div>
              </li>
              <li>
                <p><a href="#">Inhibition</a></p>
                <div id="type2" class="line"></div><div id="type2s"></div>
              </li>
              <li>
                <p>
                  <a href="http://purl.obolibrary.org/obo/MI_0915" target="_blank">Physical Association</a>
                </p>
                <div id="type3" class="line"></div><div id="type3s"></div>
              </li>
              <li>
                <p><a href="http://purl.obolibrary.org/obo/MI_0217" target="_blank">Phosphorylation Reaction</a>
                </p>
                <div id="type4" class="line"></div><div id="type4s"></div>
              </li>
              <li>
                <p>
                  <a href="#">Cleavage</a>
                </p>
                <div id="type5" class="line"></div><div id="type5s"></div>
              </li>
              <li>
                <p><a href="#">Interaction</a></p>
                <div id="type6" class="line longer"></div>
              </li>
            </ul>
          </div>
          <!--
            NODE INFO
          -->
          <div role="tabpanel" class="tab-pane" id="nodeinfo">
            <div id="nodeask" class="col-md-12">Please select a node to view more information</div>
            <div id="nodeoverview" class="col-sm-7 col-md-8"></div>
            <div id="nodeopts" class="hidden">
              <div id="detailsbtnwrap" class="btn-wrap col-sm-2 col-md-3">
                <a id="details" data-ng-click="getDetails(getSelected('details'))" type="button" class="btn btn-small">
                  <i class="fa fa-external-link"></i> Get Details
                </a>
              </div>
            </div>
            <ul id="nodetable" class="col-sm-12 col-md-12 col-lg-12"></ul>
          </div>
          <!--
            EDGE INFO
          -->
          <div role="tabpanel" class="tab-pane" id="edgeinfo">
            <div id="edgeask" class="col-md-12">Please select an edge to view more information</div>
            <div id="edgeoverview" class="col-md-12"></div>
            <div id="edgetable" class="col-md-12"></div>
          </div>
          <!--
            OPTIONS
          -->
          <div role="tabpanel" class="tab-pane" id="options">
            <h3>Background Color:</h3>
            <div id="colorbg" class="btn-group" data-toggle="buttons">
              <label class="btn active" id="bgdark">
                <input type="radio" name="options" autocomplete="off" checked="checked"/> Dark
              </label>
              <label class="btn" id="bglight">
                <input type="radio" name="options" autocomplete="off"/> Light
              </label>
            </div>
            <form id="layouttime" class="form-horizontal col-md-12">
              <div class="form-group">
                <label for="numLayout"><h3>Layout Render Time (in seconds):</h3></label>
                <input type="text" id="numLayout" name="numLayout" data-ng-model="numLayout" value="4" />
              </div>
            </form>
            <form id="layout" class="form-horizontal col-md-12" data-ng-submit="cy.layout(layout)">
              <h3>Layout: </h3>
              <div class="form-group space">
                <input type="radio" class="radio inline" name="optArbor" value="arbor" data-ng-model="layout.name"/> <span>Arbor</span>
              </div>
              <div class="form-group space">
                <input type="radio" class="radio inline" name="optSpringy" value="springy" data-ng-model="layout.name"/> <span>Springy</span>
              </div>
              <div class="form-group">
               <input type="radio" class="radio inline" name="optCircle" value="circle" data-ng-model="layout.name"/> <span>Circle</span>
              </div>
              <div class="form-group">
                <input type="radio" class="radio inline" name="optCose" value="cose" data-ng-model="layout.name"/> <span>Cose</span>
              </div>
              <div class="form-group">
                <input type="radio"
                       class="radio inline"
                       name="optBF"
                       value="breadthfirst"
                       data-ng-model="layout.name"/>
                <span>Breadth First</span>
              </div>
              <div class="form-group">
                <input type="radio" class="radio inline" name="optRandom" value="concentric" data-ng-model="layout.name"/> <span>Concentric</span>
              </div>
              <div class="form-group">
                <input type="radio" class="radio inline" name="optRandom" value="random" data-ng-model="layout.name"/> <span>Random</span>
              </div>
              <input id="layout-btn" class="btn btn-small" type="submit" value="Change"/>
            </form>
          </div>
          <!--
            HELP
          -->
          <div role="tabpanel" class="tab-pane" id="faq">
            <h3>How To Use</h3>
            <ul>
              <li>To ensure the entity you wish to search for exists in our database, please select the matching entity from the dropdown menu that appears.</li>
              <li>Click, drag, and scroll to move around the graph.</li>
              <li>Select nodes to explore further connections or to view more information.</li>
              <li>Select an edge to view more information</li>
              <li>To unselect edges and/or nodes, double-click on the background.</li>
            </ul>
          </div>
          <!--
            ABOUT
          -->
          <div role="tabpanel" class="tab-pane" id="about">
            <h3>About</h3>
            <p>This system visually represents the probability and likelihood that a link between drugs, proteins, or entire biological processes exists.</p>
            <p>This probability is determined using nanopublications, ontology, and a reasoner. Multiple nanopublications are given a combined probability based off of their method of experimentation and their source of publication.</p>
            <p>The thickness of the lines is based on the likelihood of the interactions while the style of the lines reflects one of three thresholds of probability which can be seen in the legend.</p>
            <p>For more information, please refer to the <a href="http://tw.rpi.edu/media/2014/03/07/97dd/poster.pdf">online paper</a>.</p>
            <p class="aboutsm">patterns (c) subtlepatterns.com</p>
          </div>
        </div>
      </div> 
    </div>
  </div>

  <!-- 
    Holds the Cytoscape.js object
  -->
  <div id="results" class="col-md-9"></div>
  
<!-- 
  SCRIPTS 
-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://sadi.googlecode.com/svn/trunk/javascript/sadi.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script type="text/javascript" src="../javascript/cytoscape.min.js"></script>
<script type="text/javascript" src="../javascript/arbor.js"></script>
<script type="text/javascript" src="../javascript/springy.js"></script>
<script type="text/javascript" src="../javascript/collection-algorithms2.js"></script>
<script type="text/javascript" src="../javascript/redrugs.js"></script>
<!-- <script type="text/javascript" src="../javascript/osc.js"></script> -->
<!--<script type="text/javascript" src="http://127.0.0.1:8081/socket.io/socket.io.js"></script>-->
</body>
</html>
